@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-family: 'Oswald', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.hide {
  display: none;
}

#submit {
  border-style: outset;
  border-color: buttonface;
  border-width: 2px;
  border-image: initial;
}

/* Laptop */
@media screen and (min-width: 1200px) {

  /* Header */

  .header {
    background-image: url(../assets/pictures/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 100%;
  }

  #nav {
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
  }

  .nav {
    width: 100%;
    height: 100px;
  }

  .navWrapper {
    width: 85%;
    margin: auto;
  }

  .navWrapper img {
    height: 150px;
    padding-top: 10px;
  }

  .right {
    padding-top: 75px;
    float: right;
  }

  .right .menu {
    display: none;
  }

  #homepage,
  #storys,
  #games,
  #profile {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-right: 35px;
    letter-spacing: 0.6px;
  }

  .headerWrapper {
    padding-top: 235px;
  }

  .headerWrapper h1 {
    font-size: 6vw;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 3.33px;
    text-shadow: 3.5px 3.5px #000;
  }

  .navResponsive {
    display: none;
  }

  .sticky {
    position: fixed;
    top: 0;
    opacity: 0.95;
    z-index: 1;
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
  }

  .storyss {
    margin-top: 150px;
  }

  .gamess {
    margin-top: 150px;
  }

  .profiless {
    margin-top: 150px;
  }

  /* Login */
  .loginFile {
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login {
    width: 100%;
    height: 90vh;
  }

  .loginWrapper {
    width: 85%;
    margin: auto;
    display: grid;
    justify-content: center;
  }

  .loginWrapper h3 {
    margin-top: 20vh;
    font-size: 70px;
    margin-bottom: 20px;
  }

  .loginWrapper #pin,
  .loginWrapper #button,
  .loginWrapper #nr {
    font-size: 50px;
    margin-bottom: 10px;
  }

  .loginWrapper #button {
    margin-top: 10px;
    background-color: Transparent;
  }

  /* Klastitularis */

  .klastitularis {
    width: 100%;
  }

  .klastitularisWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 75px;
  }

  .klastitularisWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .klastitularisGrid {
    display: grid;
    grid-template-rows: 25px 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-template-areas:
      'empty rony'
      'photo text'
      'music text';
    grid-gap: 5%;
  }

  .klastitularisGrid .empty {
    grid-area: empty;
  }

  .klastitularisGrid .name {
    font-size: 25px;
    color: #4A4A4A;
    grid-area: rony;
  }

  .klastitularisGrid img {
    grid-area: photo;
    height: 100%;
    margin: auto;
  }

  .klastitularisGrid iframe {
    grid-area: music;
  }

  .klastitularisGrid .textrony {
    grid-area: text;
  }

  /* Storys */

  .storys {
    width: 100%
  }

  .storysWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 0;
  }

  .storysWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
    display: inline;
  }

  .storysWrapper #viewName {
    font-size: 30px;
  }

  .storysWrapper #back {
    height: 50px;
  }

  .storysWrapper a {
    height: 50px;
    margin-right: 50px;
  }

  .storysGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    justify-content: center;
    grid-row-gap: 15%;
  }

  /* .profile {
  background-image: linear-gradient(to bottom right, #0080ff, #00ffff);
} */

  .profile .photo {
    text-align: center;
  }

  .profile .photo img {
    height: 125px;
    margin: auto;
  }

  .profile .voornaam {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #779699;
  }

  .profile .achternaam {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #779699;
  }

  .storyGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto auto;
    grid-template-areas:
      'photo none'
      'text text';
  }

  .storyGrid .photo {
    grid-area: photo;
    float: left;
  }

  .storyGrid .text {
    grid-area: text;
    font-size: 25px;
  }

  .storysWrapper .dank {
    margin-top: 100px;
    ;
  }

  /* Games */

  .games {
    width: 100%;
  }

  .gamesWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 75px;
  }

  .gamesWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .noGames {
    display: none;
  }

  .gamesGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 850px;
    grid-auto-rows: 850px;
    grid-auto-flow: row;
    grid-gap: 5%;
  }

  .game {
    background-image: linear-gradient(to bottom right, #0080ff, #00ffff);
    text-align: center;
  }

  .game img {
    margin-top: 100px;
    border-radius: 50%;
    height: 500px;
    width: 100%;
  }

  .game h4 {
    font-size: 50px;
    margin-top: 20px;
    color: #3f222a;
  }

  .game hr {
    border: 1px solid black;
    margin-top: 20px;
  }

  .game .button {
    background-image: linear-gradient(to bottom right, #FF0000, #FFD700);
    margin: auto;
    width: 70%;
    height: 70px;
    margin-top: 25px;
  }

  .game .button p {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }

  /* Dragon Game */

  .replaybutton {
    display: none;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
  }

  /* Profile */

  .profile {
    width: 100%;
  }

  .profileWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 75px;
  }

  .profileWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .profileWrapper input {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
  }

  .profileEdit h6 {
    color: red;
    font-weight: bold;
    margin-top: 300px;
  }

  .profileWrapper h5 {
    display: inline;
    margin-right: 10px;
  }

  .profileEditForm {
    display: grid;
    grid-template-columns: 0.25fr 0.5fr;
    grid-gap: 5%;
  }

  .checkboxes {
    height: 250px;
    overflow-y: scroll;
    width: 25%;
  }

  .checkboxes .name {
    display: inline;
    font-size: 20px;
  }

}

/* iPads */
@media screen and (min-width: 800px) and (max-width: 1200px) {

  /* Header */

  .header {
    background-image: url(../assets/pictures/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 100%;
  }

  #nav {
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
  }

  .nav {
    width: 100%;
    height: 100px;
  }

  .navWrapper {
    width: 85%;
    margin: auto;
  }

  .navWrapper img {
    height: 150px;
    padding-top: 10px;
  }

  .right {
    padding-top: 75px;
    float: right;
  }

  .right .menu {
    display: none;
  }

  #homepage,
  #storys,
  #games,
  #profile {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-right: 35px;
    letter-spacing: 0.6px;
  }

  .headerWrapper {
    padding-top: 235px;
  }

  .headerWrapper h1 {
    font-size: 6vw;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 3.33px;
    text-shadow: 3.5px 3.5px #000;
  }

  .navResponsive {
    display: none;
  }

  .sticky {
    position: fixed;
    top: 0;
    opacity: 0.95;
    z-index: 1;
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
  }

  .storyss {
    margin-top: 150px;
  }

  .gamess {
    margin-top: 150px;
  }

  .profiless {
    margin-top: 150px;
  }

  /* Login */
  .loginFile {
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login {
    width: 100%;
    height: 90vh;
  }

  .loginWrapper {
    width: 85%;
    margin: auto;
    display: grid;
    justify-content: center;
  }

  .loginWrapper h3 {
    margin-top: 20vh;
    font-size: 90px;
    margin-bottom: 20px;
  }

  .loginWrapper #pin,
  .loginWrapper #button,
  .loginWrapper #nr {
    font-size: 70px;
    margin-bottom: 10px;
  }

  .loginWrapper #button {
    margin-top: 10px;
    background-color: Transparent;
  }

  /* Klastitularis */

  .klastitularis {
    width: 100%;
  }

  .klastitularisWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 75px;
  }

  .klastitularisWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .klastitularisGrid {
    display: grid;
    grid-template-rows: 25px 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-template-areas:
      'empty rony'
      'photo text'
      'music text';
    grid-gap: 5%;
  }

  .klastitularisGrid .empty {
    grid-area: empty;
  }

  .klastitularisGrid .name {
    font-size: 25px;
    color: #4A4A4A;
    grid-area: rony;
  }

  .klastitularisGrid img {
    grid-area: photo;
    height: 100%;
    margin: auto;
  }

  .klastitularisGrid iframe {
    grid-area: music;
  }

  .klastitularisGrid .textrony {
    grid-area: text;
  }

  /* Storys */

  .storys {
    width: 100%
  }

  .storysWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 0;
  }

  .storysWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
    display: inline;
  }

  .storysWrapper #viewName {
    font-size: 30px;
  }

  .storysWrapper #back {
    height: 50px;
  }

  .storysWrapper a {
    height: 50px;
    margin-right: 50px;
  }

  .storysGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    justify-content: center;
    grid-row-gap: 15%;
  }

  /* .profile {
  background-image: linear-gradient(to bottom right, #0080ff, #00ffff);
} */

  .profile .photo {
    text-align: center;
  }

  .profile .photo img {
    height: 125px;
    margin: auto;
  }

  .profile .voornaam {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #779699;
  }

  .profile .achternaam {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #779699;
  }

  .storyGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto auto;
    grid-template-areas:
      'photo none'
      'text text';
  }

  .storyGrid .photo {
    grid-area: photo;
    float: left;
  }

  .storyGrid .text {
    grid-area: text;
    font-size: 25px;
  }

  .storysWrapper .dank {
    margin-top: 100px;
    ;
  }

  /* Games */

  .games {
    width: 100%;
  }

  .gamesWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 75px;
  }

  .gamesWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .noGames {
    width: 60vw;
  }

  .noGamesText {
    font-size: 50px;
    color: rgb(43, 42, 42);
    letter-spacing: 2px;
    font-weight: bold;
    margin: auto;
  }

  .gamesGrid {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 850px;
    grid-auto-rows: 850px;
    grid-auto-flow: row;
    grid-gap: 5%;
  }

  .game {
    background-image: linear-gradient(to bottom right, #0080ff, #00ffff);
    text-align: center;
  }

  .game img {
    margin-top: 100px;
    border-radius: 50%;
    height: 500px;
    width: 100%;
  }

  .game h4 {
    font-size: 50px;
    margin-top: 20px;
    color: #3f222a;
  }

  .game hr {
    border: 1px solid black;
    margin-top: 20px;
  }

  .game .button {
    background-image: linear-gradient(to bottom right, #FF0000, #FFD700);
    margin: auto;
    width: 70%;
    height: 70px;
    margin-top: 25px;
  }

  .game .button p {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }

  /* Dragon Game */

  .replaybutton {
    display: none;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
  }

  /* Profile */

  .profile {
    width: 100%;
  }

  .profileWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 75px;
  }

  .profileWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .profileWrapper input {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
  }

  .profileWrapper #submit {
    border-style: outset;
    border-color: buttonface;
  }

  .profileEdit h6 {
    color: red;
    font-weight: bold;
    margin-top: 75px;
  }

  .profileWrapper h5 {
    display: inline;
    margin-right: 10px;
  }

  .profileEditForm {
    display: grid;
    grid-template-columns: 0.25fr 0.5fr;
    grid-gap: 5%;
  }
}

/* Small iPads */
@media screen and (min-width: 761px) and (max-width: 899px) {

  /* Header */

  .header {
    background-image: url(../assets/pictures/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 100%;
  }

  #nav {
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
  }

  .nav {
    width: 100%;
    height: 100px;
  }

  .navWrapper {
    width: 85%;
    margin: auto;
  }

  .navWrapper img {
    height: 150px;
    padding-top: 10px;
  }

  .right {
    padding-top: 75px;
    float: right;
  }

  .right .menu {
    display: none;
  }

  #homepage,
  #storys,
  #games,
  #profile {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-right: 35px;
    letter-spacing: 0.6px;
  }

  .headerWrapper {
    padding-top: 235px;
  }

  .headerWrapper h1 {
    font-size: 6vw;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 3.33px;
    text-shadow: 3.5px 3.5px #000;
  }

  .navResponsive {
    display: none;
  }

  .sticky {
    position: fixed;
    top: 0;
    opacity: 0.95;
    z-index: 1;
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
  }

  .storyss {
    margin-top: 150px;
  }

  .gamess {
    margin-top: 150px;
  }

  .profiless {
    margin-top: 150px;
  }

  /* Login */
  .loginFile {
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login {
    width: 100%;
    height: 90vh;
  }

  .loginWrapper {
    width: 85%;
    margin: auto;
    display: grid;
    justify-content: center;
  }

  .loginWrapper h3 {
    margin-top: 20vh;
    font-size: 70px;
    margin-bottom: 20px;
  }

  .loginWrapper #pin,
  .loginWrapper #button,
  .loginWrapper #nr {
    font-size: 50px;
    margin-bottom: 10px;
  }

  .loginWrapper #button {
    margin-top: 10px;
    background-color: Transparent;
  }

  /* Klastitularis */

  .klastitularis {
    width: 100%;
  }

  .klastitularisWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 75px;
  }

  .klastitularisWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .klastitularisGrid {
    display: grid;
    grid-template-rows: 25px 2fr 1fr;
    grid-template-columns: 40% 50%;
    justify-content: center;
    grid-template-areas:
      'empty rony'
      'photo text'
      'music text';
    grid-gap: 5%;
  }

  .klastitularisGrid .empty {
    grid-area: empty;
  }

  .klastitularisGrid .name {
    font-size: 25px;
    color: #4A4A4A;
    grid-area: rony;
  }

  .klastitularisGrid img {
    grid-area: photo;
    width: 100%;
    margin: auto;
  }

  .klastitularisGrid iframe {
    grid-area: music;
  }

  .klastitularisGrid .textrony {
    grid-area: text;
  }

  .klastitularisGrid .textrony p {
    font-size: 15px;
  }

  /* Storys */

  .storys {
    width: 100%
  }

  .storysWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 0;
  }

  .storysWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
    display: inline;
  }

  .storysWrapper #viewName {
    font-size: 30px;
  }

  .storysWrapper #back {
    height: 50px;
  }

  .storysWrapper a {
    height: 50px;
    margin-right: 50px;
  }

  .storysGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    justify-content: center;
    grid-row-gap: 15%;
  }

  /* .profile {
  background-image: linear-gradient(to bottom right, #0080ff, #00ffff);
} */

  .profile .photo {
    text-align: center;
  }

  .profile .photo img {
    height: 125px;
    margin: auto;
  }

  .profile .voornaam {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #779699;
  }

  .profile .achternaam {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #779699;
  }

  .storyGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto auto;
    grid-template-areas:
      'photo none'
      'text text';
  }

  .storyGrid .photo {
    grid-area: photo;
    float: left;
  }

  .storyGrid .text {
    grid-area: text;
    font-size: 25px;
  }

  .storysWrapper .dank {
    margin-top: 100px;
    ;
  }

  /* Games */

  .games {
    width: 100%;
  }

  .gamesWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 75px;
  }

  .gamesWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .noGames {
    width: 60vw;
  }

  .noGamesText {
    font-size: 90px;
    color: rgb(43, 42, 42);
    letter-spacing: 2px;
    font-weight: bold;
    margin: auto;
  }

  .gamesGrid {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 850px;
    grid-auto-rows: 850px;
    grid-auto-flow: row;
    grid-gap: 5%;
  }

  .game {
    background-image: linear-gradient(to bottom right, #0080ff, #00ffff);
    text-align: center;
  }

  .game img {
    margin-top: 100px;
    border-radius: 50%;
    height: 500px;
    width: 100%;
  }

  .game h4 {
    font-size: 50px;
    margin-top: 20px;
    color: #3f222a;
  }

  .game hr {
    border: 1px solid black;
    margin-top: 20px;
  }

  .game .button {
    background-image: linear-gradient(to bottom right, #FF0000, #FFD700);
    margin: auto;
    width: 70%;
    height: 70px;
    margin-top: 25px;
  }

  .game .button p {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }

  /* Dragon Game */

  .replaybutton {
    display: none;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
  }

  /* Profile */

  .profile {
    width: 100%;
  }

  .profileWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 75px;
  }

  .profileWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .profileWrapper input {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
  }

  .profileWrapper #submit {
    border-style: outset;
    border-color: buttonface;
  }

  .profileEdit h6 {
    color: red;
    font-weight: bold;
    margin-top: 75px;
  }

  .profileWrapper h5 {
    display: inline;
    margin-right: 10px;
  }

  .profileEditForm {
    display: grid;
    grid-template-columns: 0.25fr 0.5fr;
    grid-gap: 5%;
  }
}

/* Phone Portrait */
@media screen and (min-width: 300px) and (max-width: 760px) and (orientation: portrait) {

  /* Header */

  .header {
    background-image: url(../assets/pictures/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 100%;
  }

  #nav {
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
  }

  .nav {
    width: 100%;
    height: 100px;
  }

  .navWrapper {
    width: 85%;
    margin: auto;
  }

  .navWrapper img {
    height: 150px;
    padding-top: 10px;
  }

  .right {
    padding-top: 75px;
    float: right;
  }

  .right #homepage,
  .right #storys,
  .right #games,
  .right #profile {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-right: 35px;
    letter-spacing: 0.6px;
    display: none;
  }

  .right .menu {
    display: block;
    height: 25px;
  }

  .headerWrapper {
    padding-top: 235px;
  }

  .headerWrapper h1 {
    font-size: 6vw;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 3.33px;
    text-shadow: 3.5px 3.5px #000;
  }

  /* Responsive Nav */

  .open {
    display: block;
  }

  .close {
    float: right;
    margin: 1em 1em 0 0;
  }

  .closeIcon {
    height: 20px;
  }

  .navResponsive {
    width: 0;
    overflow-y: hidden;
    height: 100vh;
    z-index: 10;
    position: fixed;
    background-color: white;
    transition: 0.5s;
    display: block;
  }

  .navResponsive a {
    clear: right;
    color: #4A4A4A;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.6px;
    padding: 1em 0;
    display: block;
    transition: 0.3s;
    text-align: center;
  }

  .navResponsive a:not(:first-child):hover {
    color: #B2B2B2;
  }

  /* Sticky nav bar */

  .sticky {
    position: fixed;
    top: 0;
    opacity: 0.95;
    z-index: 1;
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
  }

  .storyss {
    margin-top: 150px;
  }

  .gamess {
    margin-top: 150px;
  }
  
  .profilles {
    margin-top: 150px;
  }

  /* Login */
  .loginFile {
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login {
    width: 100%;
    height: 80vh;
  }

  .loginWrapper {
    width: 85%;
    margin: auto;
    display: grid;
    justify-content: center;
  }

  .loginWrapper h3 {
    margin-top: 20vh;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .loginWrapper #pin,
  .loginWrapper #button,
  .loginWrapper #nr {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .loginWrapper #button {
    margin-top: 10px;
    background-color: Transparent;
  }

  /* Klastitularis */

  .klastitularis {
    width: 100%;
  }

  .klastitularisWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 75px;
  }

  .klastitularisWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .klastitularisGrid {
    grid-template-rows: 25px 2fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 5%;
    text-align: center;
  }

  .klastitularisGrid .empty {
    grid-area: empty;
  }

  .klastitularisGrid .name {
    font-size: 30px;
    color: #4A4A4A;
    grid-area: rony;
  }

  .klastitularisGrid img {
    grid-area: photo;
    width: 90%;
  }

  .klastitularisGrid iframe {
    grid-area: music;
    height: 140px;
    margin-top: 10px;
  }

  .klastitularisGrid .textrony {
    grid-area: text;
  }

  .klastitularisGrid .textrony p {
    font-size: 15px;
  }

  /* Storys */

  .storys {
    width: 100%
  }

  .storysWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 0;
  }

  .storysWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
    display: inline;
  }

  .storysWrapper #viewName {
    font-size: 30px;
  }

  .storysWrapper #back {
    height: 50px;
  }

  .storysWrapper a {
    height: 50px;
    margin-right: 50px;
  }

  .storysGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    justify-content: center;
  }

  /* .profile {
  background-image: linear-gradient(to bottom right, #0080ff, #00ffff);
} */

  .profile .photo {
    text-align: center;
  }

  .profile .photo img {
    height: 125px;
    margin: auto;
  }

  .profile .voornaam {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #779699;
  }

  .profile .achternaam {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #779699;
  }

  .storyGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto auto;
    grid-template-areas:
      'photo none'
      'text text';
  }

  .storyGrid .photo {
    grid-area: photo;
    float: left;
  }

  .storyGrid .text {
    grid-area: text;
    font-size: 20px;
  }

  .storysWrapper .dank {
    margin-top: 100px;
    font-size: 13px;
  }

  /* Games */

  .games {
    width: 100%;
  }

  .gamesWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 75px;
  }

  .gamesWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .noGames {
    width: 60vw;
  }

  .noGamesText {
    font-size: 45px;
    color: rgb(43, 42, 42);
    letter-spacing: 2px;
    font-weight: bold;
    margin: auto;
  }

  .gamesGrid {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 850px;
    grid-auto-rows: 850px;
    grid-auto-flow: row;
    grid-gap: 5%;
  }

  .game {
    background-image: linear-gradient(to bottom right, #0080ff, #00ffff);
    text-align: center;
  }

  .game img {
    margin-top: 100px;
    border-radius: 50%;
    height: 500px;
    width: 100%;
  }

  .game h4 {
    font-size: 50px;
    margin-top: 20px;
    color: #3f222a;
  }

  .game hr {
    border: 1px solid black;
    margin-top: 20px;
  }

  .game .button {
    background-image: linear-gradient(to bottom right, #FF0000, #FFD700);
    margin: auto;
    width: 70%;
    height: 70px;
    margin-top: 25px;
  }

  .game .button p {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }

  /* Dragon Game */

  .replaybutton {
    display: none;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
  }

  /* Profile */

  .profile {
    width: 100%;
  }

  .profileWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 75px;
  }

  .profileWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .profileWrapper input {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
  }

  .profileWrapper #submit {
    border-style: outset;
    border-color: buttonface;
    display: block;
    margin-top: 5px;
  }

  .profileEdit h6 {
    color: red;
    font-weight: bold;
    margin-top: 75px;
  }

  .profileWrapper h5 {
    display: block;
    margin-right: 10px;
  }
}

/* Phone Landscape */
@media screen and (min-width: 300px) and (max-width: 800px) and (orientation: landscape) {

  /* Header */

  .header {
    background-image: url(../assets/pictures/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 100%;
  }

  #nav {
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
  }

  .nav {
    width: 100%;
    height: 100px;
  }

  .navWrapper {
    width: 85%;
    margin: auto;
  }

  .navWrapper img {
    height: 150px;
    padding-top: 10px;
  }

  .right {
    padding-top: 75px;
    float: right;
  }

  .right #homepage,
  .right #storys,
  .right #games,
  .right #profile {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-right: 35px;
    letter-spacing: 0.6px;
    display: none;
  }

  .right .menu {
    display: block;
    height: 25px;
  }

  .headerWrapper {
    padding-top: 100px;
  }

  .headerWrapper h1 {
    font-size: 6vw;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 3.33px;
    text-shadow: 3.5px 3.5px #000;
  }

  /* Responsive Nav */

  .open {
    display: block;
  }

  .close {
    float: right;
    margin: 1em 1em 0 0;
  }

  .closeIcon {
    height: 20px;
  }

  .navResponsive {
    width: 0;
    overflow-y: hidden;
    height: 100vh;
    z-index: 10;
    position: fixed;
    background-color: white;
    transition: 0.5s;
    display: block;
  }

  .navResponsive a {
    clear: right;
    color: #4A4A4A;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.6px;
    padding: 1em 0;
    display: block;
    transition: 0.3s;
    text-align: center;
  }

  .navResponsive a:not(:first-child):hover {
    color: #B2B2B2;
  }

  /* Sticky nav bar */

  .sticky {
    position: fixed;
    top: 0;
    opacity: 0.95;
    z-index: 1;
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
  }

  .storyss {
    margin-top: 150px;
  }

  .gamess {
    margin-top: 150px;
  }

  .profiless {
    margin-top: 150px;
  }

  /* Login */
  .loginFile {
    background-image: url(../assets/pictures/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .login {
    width: 100%;
    height: 70vh;
  }

  .loginWrapper {
    width: 85%;
    margin: auto;
    display: grid;
    justify-content: center;
  }

  .loginWrapper h3 {
    margin-top: 20vh;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .loginWrapper #pin,
  .loginWrapper #button,
  .loginWrapper #nr {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .loginWrapper #button {
    margin-top: 10px;
    background-color: Transparent;
  }

  /* Klastitularis */

  .klastitularis {
    width: 100%;
  }

  .klastitularisWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 75px;
  }

  .klastitularisWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .klastitularisGrid {
    grid-template-rows: 25px 2fr 1fr;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 5%;
    text-align: center;
  }

  .klastitularisGrid .empty {
    grid-area: empty;
  }

  .klastitularisGrid .name {
    font-size: 30px;
    color: #4A4A4A;
    grid-area: rony;
  }

  .klastitularisGrid img {
    grid-area: photo;
    width: 90%;
  }

  .klastitularisGrid iframe {
    grid-area: music;
    height: 140px;
    margin-top: 10px;
  }

  .klastitularisGrid .textrony {
    grid-area: text;
  }

  .klastitularisGrid .textrony p {
    font-size: 15px;
  }

  /* Storys */

  .storys {
    width: 100%
  }

  .storysWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 0;
  }

  .storysWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
    display: inline;
  }

  .storysWrapper #viewName {
    font-size: 30px;
  }

  .storysWrapper #back {
    height: 50px;
  }

  .storysWrapper a {
    height: 50px;
    margin-right: 50px;
  }

  .storysGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    justify-content: center;
  }

  /* .profile {
  background-image: linear-gradient(to bottom right, #0080ff, #00ffff);
} */

  .profile .photo {
    text-align: center;
  }

  .profile .photo img {
    height: 125px;
    margin: auto;
  }

  .profile .voornaam {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #779699;
  }

  .profile .achternaam {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #779699;
  }

  .storyGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto auto;
    grid-template-areas:
      'photo none'
      'text text';
  }

  .storyGrid .photo {
    grid-area: photo;
    float: left;
  }

  .storyGrid .text {
    grid-area: text;
    font-size: 20px;
  }

  .storysWrapper .dank {
    margin-top: 100px;
    font-size: 13px;
  }

  /* Games */

  .games {
    width: 100%;
  }

  .gamesWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 75px;
  }

  .gamesWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .noGames {
    width: 60vw;
  }

  .noGamesText {
    font-size: 45px;
    color: rgb(43, 42, 42);
    letter-spacing: 2px;
    font-weight: bold;
    margin: auto;
  }

  .gamesGrid {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 850px;
    grid-auto-rows: 850px;
    grid-auto-flow: row;
    grid-gap: 5%;
  }

  .game {
    background-image: linear-gradient(to bottom right, #0080ff, #00ffff);
    text-align: center;
  }

  .game img {
    margin-top: 100px;
    border-radius: 50%;
    height: 500px;
    width: 100%;
  }

  .game h4 {
    font-size: 50px;
    margin-top: 20px;
    color: #3f222a;
  }

  .game hr {
    border: 1px solid black;
    margin-top: 20px;
  }

  .game .button {
    background-image: linear-gradient(to bottom right, #FF0000, #FFD700);
    margin: auto;
    width: 70%;
    height: 70px;
    margin-top: 25px;
  }

  .game .button p {
    color: white;
    font-size: 30px;
    font-weight: bold;
  }

  /* Dragon Game */

  .replaybutton {
    display: none;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
  }

  /* Profile */

  .profile {
    width: 100%;
  }

  .profileWrapper {
    width: 85%;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 75px;
  }

  .profileWrapper h3 {
    font-size: 40px;
    color: #4A4A4A;
    letter-spacing: 2px;
    font-weight: bold;
  }

  .profileWrapper input {
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
  }

  .profileWrapper #submit {
    border-style: outset;
    border-color: buttonface;
  }

  .profileEdit h6 {
    color: red;
    font-weight: bold;
    margin-top: 75px;
  }

  .profileWrapper h5 {
    display: inline;
    margin-right: 10px;
  }

  .profileEditForm {
    display: grid;
    grid-template-columns: 0.25fr 0.5fr;
    grid-gap: 5%;
  }
  
}